body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
main{
    text-align: center;
    color: white;
    margin-bottom: 100px;
    margin-top: 300px;
}
#abajo{
    background-image: url("img/abajo-1.png");
    width: 71px;
    height: 71px;
    margin-left: 47%;
}
#abajo:hover{
    background-image: url("img/abajo-2.png");
    width: 71px;
    height: 71px;
}
nav {
    background-color: #474b50;
    color: white;
    background-size: cover;
    width: 900px;
    height: 50px;
    margin-top: 131px;
}
ul{
    text-align: center;
    padding-top: 15px;
}
li{
    display: inline;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}
h1{
    text-align: center;
}
section{
    width: 900px;
    background-color: white;
    margin-left: 200px;
}
#introduccion{
    width: 800px;
    height: 400px;
    padding-left: 50px;
}

table{
    width: 900px;
}
img{
    height: 100px;
    width: 100px;
}
#india{
    background-repeat: no-repeat;
}
form{
    width: 860px;
    background-color: #cad1ce;
    padding-left: 40px;
    height: 600px;
    padding-top: 10px;
}
label{
    text-align: left;
}
.input1{
    width: 800px;
    background-color: #cad1ce;
    border: 1px solid black;
    padding-top: 20px;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

a{
    color: white;
}
fieldset{
    display: inline-block;
    padding-left: 40px;
    width: 750px;
}
