body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
main{
    text-align: center;
    color: white;
    margin-bottom: 100px;
    margin-top: 300px;
}
#abajo{
    width: 71px;
    height: 71px;
}
.menu {
    background-color: #474b50;
    color: white;
    width: 900px;
    height: 50px;
    margin-top: 122px;
    transition: 1s;
    padding-top: 5px;
}
ul{
    text-align: center;
}
li{
    display: inline;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    height: 50px;
}
h1{
    text-align: center;
}
section{
    width: 900px;
    background-color: white;
    margin-left: 200px;
}
#introduccion{
    width: 800px;
    height: 400px;
    padding-left: 50px;
}

table{
    width: 900px;
}
img{
    height: 100px;
    width: 100px;
}
#india{
    background-repeat: no-repeat;
}
form{
    width: 860px;
    background-color: #cad1ce;
    padding-left: 40px;
    height: 600px;
    padding-top: 10px;
    margin-bottom: 300px;
}
label{
    text-align: left;
}
.input1{
    width: 800px;
    background-color: #cad1ce;
    border: 1px solid black;
    padding-top: 20px;
}

a:link, a:visited, a:active{
    text-decoration: none;
}

a{
    color: white;
}
fieldset{
    display: inline-block;
    padding-left: 40px;
    width: 750px;
}

button {
    background-color: #cad1ce;
    border: 2px solid #474b50;
    width: 500px;
    height: 50px;
}
.sticky {
    position: fixed;
    top: -122px;
    background-color: #474b50;
    color: white;
    width: 900px;
    height: 50px;
    padding-top: 5px;
}
li:hover{
    background-color: black;
}